
.wrapper {
    padding: 50px;
    text-align: center;
    background: #e570e7;
    background: -moz-linear-gradient(
      45deg,
      #e570e7 0%,
      #bf7ca3 68%,
      #a849a3 100%
    ); 
    background: -webkit-linear-gradient(
      45deg,
      #e570e7 0%,
      #bf7ca3 68%,
      #a849a3 100%
    );
    background: linear-gradient(
      45deg,
      #e570e7 0%,
      #bf7ca3 68%,
      #a849a3 100%
    ); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e570e7', endColorstr='#a849a3',GradientType=1 ); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
        height: 100%;
        width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.headerTitle {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

.underText {
  font-size: 16px;
}

svg {
  height: 35px;
  position: absolute;
  right: 20px;
}

@media only screen and (min-width: 768px) {
.menuIcon {
  display: none;
}
}

@media only screen and (min-width: 1440px) {
  
}