
.wrapper {
    padding: 50px;
    text-align: center;
    background: #e570e7;
    background: -moz-linear-gradient(
      45deg,
      #e570e7 0%,
      #bf7ca3 68%,
      #a849a3 100%
    ); 
    background: -webkit-linear-gradient(
      45deg,
      #e570e7 0%,
      #bf7ca3 68%,
      #a849a3 100%
    );
    background: linear-gradient(
      45deg,
      #e570e7 0%,
      #bf7ca3 68%,
      #a849a3 100%
    ); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e570e7', endColorstr='#a849a3',GradientType=1 ); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: black;
        height: 100%;
        width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.headerTitle {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

.underText {
  font-size: 16px;
}

/* .wrapper #myLinks {
  display: none;
} */

/* Style navigation menu links
.wrapper a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  display: block;
}

/* Style the hamburger menu */
/* .wrapper a.icon {
  background: inherit;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
} */

/* Add a grey background color on mouse-over */
/* .wrapper a:hover {
  background-color: #ddd;
  color: black;
} */

/* Style the active link (or home/logo) */
/* .active {
  background-color: #4CAF50;
  color: white;
} */ 

svg {
  height: 35px;
  position: absolute;
  right: 20px;
}

@media only screen and (min-width: 768px) {
.menuIcon {
  display: none;
}
}

@media only screen and (min-width: 1440px) {
  
}