<body>
  <div class="story-container">
    <h1 style="text-align: center">Our Story</h1>
    <p class="our-story"> VoceFemme all comes out of one idea: lifting one’s voice to inspire others to lift theirs.
      This is a collection of: up-in-coming women, funny women, running the show women, sing their hearts out women.
      <br>
      <br>
      In honor of Women’s History Month, we are celebrating women who are trail-blazers in their field by creating an
      app to showcases these brilliant industry leaders. VoceFemme works as a database of CEOs to journalists from all
      over the world that can be searched by their Twitter handles or tags. Can’t find the funky fresh lady you’re
      looking for? We got you. Simply add them to the VoceFemme database and be part of the many women who continue to
      help VoceFemme grow and evolve, so we can be better. Every. Dang. Day. </p>
  </div>
  <p class="quote">"...all i can tell you is that the women I know are not fiddling with their thumbs. The women I know
    are loud like lightning, crack, boom..."</p>
  <p class="author">by Alison Malee</p>
  <div class="team-bio">
    <h1 style="text-align:center">Who We Are</h1>
    <p class="meet-team">On paper, the mix...is unusual. A body building champion, a bridal consultant, a mother of two,
      and a geographic information specialist. Yet they make up the team of VoceFemme - a team as diverse as the
      community we strive to create.</p>
  </div>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="/assets/images/remiCrop.jpeg" alt="Remington" style="width:100%">
        <div class="container">
          <h3>REMINGTON GREENBAUER</h3>
          <p class="title">Angular</p>
          <p class="statement">Hailing from Grand Rapid and now in Detroit, Remi spends her days nestled with a good
            book or taking a hike with her fuzzy pup, Porter. In her off time from coding, she enjoys time with friends
            playing DnD, participating in weight lifting competitions or hanging out in the kitchen cranking out savory
            vegan curry recipes. </p>
          <!-- <p class="team-email">Remigreenbauer@gmail.com</p> -->
          <!-- <p><button class="button">Contact</button></p> -->
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="/assets/images/tangie.jpeg" alt="Tangie" style="width:100%">
        <div class="container">
          <h3>TANGIE JONES</h3>
          <p class="title">HTML/CSS</p>
          <p>Tangie is a LEO, silly, serious, and full of truth. She
            enjoys watching her son play soccer, and swim competitively. She finds joy
            in traveling, being at the Ocean's edge and soaking in the sun.
            Weekends can be spent in solitude perusing the farmer's market and baking
            new treats. My secret indulgence includes pancakes. Something not many
            people may not know about me is that I have a background in Geographic Information
            Systems.
          </p>
          <!-- <p>tangie.jones16@gmail.com</p> -->
          <!-- <p><button class="button">Contact</button></p> -->
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="/assets/images/elissaCrop.jpeg" alt="Lappenga" style="width:100%">
        <div class="container">
          <h3>ELISSA LAPPENGA</h3>
          <p class="title">Database</p>
          <p>Elissa Lappenga built her first database as a bright-eyed grad student and never looked back. She has
            achieved honorary Geek status in that she can tell a Hobbit from a Horcrux, but has never actually played
            Dungeons and Dragons. According to her kids, Elissa spends much of her spare time and energy looking for
            ways to ruin their fun and publicly embarrass them, usually under the guise of helping them become
            thoughtful, contributing members of society.</p>
          <!-- <p>elappenga@gmail.com</p> -->
          <!-- <p><button class="button">Contact</button></p> -->
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="/assets/images/britCrop.jpeg" alt="Brittney" style="width:100%">
        <div class="container">
          <h3>BRIT SHELLENBARGER</h3>
          <p class="title">Database/Heroku/CSS</p>
          <p>Many describe Brit as a tinker. From a very early age she dabbled with tech, building computers with her step-dad.  </p>
          <!-- <p>brittney@example.com</p> -->
          <!-- <p><button class="button">Contact</button></p> -->
        </div>
      </div>
    </div>
  </div>
  <p class="copyright">© VoceFemme 2021</p>
</body>
