.column {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  background-color: white;
}

h3 {
  color: #661B9E;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-bottom: 0px;
}

h1 {
  color:#27796f;
  font-family: 'Playfair Display', sans-serif;
  font-weight: 300;
  margin-bottom: 0px;
  padding-top: 30px;

}

.container {
  padding: 0 16px;
}

.story-container {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 0px 20px;
}


.our-story{
  text-align: center;
  padding: 12px 12px 40px 12px;
  margin: 5px 50px 30px;
}

.quote {
  text-align: center;
  padding: 30px;
  margin: 12px 50px 12px 50px;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 2em;
  border-top: 1px solid grey;
  
}

.author {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-weight: 200;
  margin: 12px 50px 12px 50px;
  padding: 0px 30px 30px 30px;
  border-bottom: 1px solid grey;
}

.team-bio {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 0px 15px;
}

.meet-team {
  text-align: center;
  padding: 12px 12px 40px 12px;
  margin: 5px 50px 30px;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

p {
  /* margin: auto; */
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.title {
  color: grey;
  font-weight: 300;
  margin-bottom: 10px;
  margin-top: 5px;
}

.copyright {
  text-align: left;
  margin: 12px 50px 12px 50px;
  padding: 30px;
  font-size: .8em;
}

.column {
  width: 50%;
  display: block;
}


/* .button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
} */

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
