<body>
  <h2 style="text-align:center">VoceFemme Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="/assets/images/remiCrop.jpeg" alt="Remington" style="width:100%">
        <div class="container">
          <h2>Remington Greenbauer</h2>
          <p class="title">Angular</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>remington@example.com</p>
          <!-- <p><button class="button">Contact</button></p> -->
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="/assets/images/tangie.jpeg" alt="Tangie" style="width:100%">
        <div class="container">
          <h2>Tangie Jones</h2>
          <p class="title">HTML/CSS</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>tangie.jones16@gmail.com</p>
          <!-- <p><button class="button">Contact</button></p> -->
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="/assets/images/elissaCrop.jpeg" alt="Lappenga" style="width:100%">
        <div class="container">
          <h2>Elissa Lappenga</h2>
          <p class="title">Database</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>elissa@example.com</p>
          <!-- <p><button class="button">Contact</button></p> -->
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="/assets/images/britCrop.jpeg" alt="Brittney" style="width:100%">
        <div class="container">
          <h2>Brittney Shellenbarger</h2>
          <p class="title">Database/Heroku</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>brittney@example.com</p>
          <!-- <p><button class="button">Contact</button></p> -->
        </div>
      </div>
    </div>
  </div>
</body>
