<mat-sidenav-container class="sidenavContainer">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
      <img src="/assets/images/VoceFemme_logo_bird_white.png" alt="">
    <mat-nav-list>
      <a class="dash" mat-list-item href="#" routerLink="/dashboard">Dashboard</a>
      <a class="about-text" mat-list-item href="#" routerLink="/about">About</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="mobileHeader" color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="title">
        <div class="headerTitle"><img src="/assets/images/VoceFemme_logo.png" alt=""></div>
       </div>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
