.sidenavContainer {
  height: 100vh;
  width: 100vw;
}

.sidenav {
  width: 200px;
  background-color: #EEC575;
}

img {
  width: 70%;
  padding-top: 10px;
}

.dash, .about-text {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}


.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background: #EEC575;
}


@media only screen and (min-width: 768px) {
  .sidenavContainer {
    width: 100%;
  }

}


@media only screen and (min-width: 1440px) {
  
}