.wrapper {
  padding: 10px;
}

fieldset {
  border: 2px solid purple;
  border-radius:8px;
  margin: 10px;
}

mat-drawer-container {
  height: 100%;
  width: 100%;
  margin: 0;
}

.toggleNavButton {
  border: solid red 1px;
  height: 30px;
  width: auto;
}

mat-drawer-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.example-sidenav {
  width: 140px;
}
.example-sidenav div {
  margin: 10px;
}
.example-sidenav div:hover {
  cursor: pointer;
}

.collapsible {
  background-color: #eee;
  color: #444;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
.collapsible:hover {
  cursor: pointer;
  background-color: #ccc;
}

.history {
  display: none;
}

@media only screen and (min-width: 768px) {
  .toggleNavButton {
    display: none;
  }
}

@media only screen and (min-width: 1440px) {
  
}

/* 

body {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e570e7+0,bf7ca3+68,a849a3+100 */
  /* background: #e570e7; 
  background: -moz-linear-gradient(
    45deg,
    #e570e7 0%,
    #bf7ca3 68%,
    #a849a3 100%
   );
  background: -webkit-linear-gradient(
    45deg,
    #e570e7 0%,
    #bf7ca3 68%,
    #a849a3 100%
  );
  background: linear-gradient(
    45deg,
    #e570e7 0%,
    #bf7ca3 68%,
    #a849a3 100%
  ); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e570e7', endColorstr='#a849a3',GradientType=1 ); 
  background-repeat: no-repeat;
  background-attachment: fixed;
} */

/* Style the collapsible content. Note: hidden by default */
/*

main {
  background: white;
  padding: 1em 1.4em;
}

h1 {
  font-size: 1em;
  margin: 0;
  padding-top: 2.5em;

}

.trivia {
  font-size: 1em;
  margin: 0;
  padding-top: 4.5em;
  padding-bottom: 1em;
}

p {
  font-size: 1em;
  line-height: 1em;
  padding-top: 2.5;
}

legend {
  font-weight: bold;
}

button {
  padding: 1px 3px;
  
} */

/* search {
  display: block;
  color: white;
  background-color: purple;
  text-decoration: none;
  padding: 8px 50px;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin: 2 em 0;
  border-radius: 4px; */
/* } */
/* .who {
  display:none;
} */

/* @media only screen and (min-width: 768px) {
  body {
    display: grid;
    grid-template-columns: 20% auto;
    padding: 2em;
  }

  span {
    font-size: 40px;
    position: relative;
    display: inline-block;
    font-weight: bolder;
    animation: mover 6s linear infinite;
    color: #fff;
  } */
  
  /*
  }

  img {
    display: none;
  } */

  /* aside {
    background: rgb(235, 183, 235);
    grid-template-columns: auto;
    grid-template-rows: 20% auto;
    padding: 0;
  } */

  /* main {
    padding: 4em;
    background: white url("../images/bg-svg") no-repeat bottom right;
  } */

  /* figcaption {
    text-align: center;
    color: black;
  }
  ul {
    display: block;
    margin-top: 2em;
    position: relative !important;
    background: none !important;
    width: 100% !important;
  }
  nav {
    background: none;
  }
  ul li a:hover {
    background-color: white;
  }
  h1 {
    font-size: 2em;
    margin-top: 2em;
  }
  
  h1 {
    font-size: 1em;
    margin: 0;
    padding-top: 3em;
  }
  
  p {
    font-size: 1em;
    line-height: 1.5em;
    padding-top: 3.4em;
  }

  .twitter {
    padding: 2em;
    margin: .5em 0;
  }
  
  .hashtag {
    padding-left: 3.2em;
  }
  
} */
