.wrapper {
  height: 85vh;
  width: 100%;
  background-color: white;
}

#header {
  background-image: url(/assets/images/banner_v2.png);
  height: auto;
  padding: 100px 100px;
}

h3 {
  text-align: center;
  color: #a32e9b;
  font-family: 'Open Sans', sans-serif ;
  font-weight: 400;
}

h1 {
  color: #a32e9b;
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  text-align: center;
  font-size: 3em;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}
/* a#download {
  display: block;
  text-align: center;
  width: 150px;
  margin: 0px auto;
  padding: 20px;
  color: white;
  text-transform: uppercase;
  font-family: Arial;
  border: 1px solid #fff;
  text-decoration: none;
  border-radius: 10px;
} */

fieldset {
  border: 2px solid #B0D8FF;
  border-radius:8px;
  margin: 10px;
}

mat-drawer-container {
  height: 100%;
  width: 100%;
  margin: 0;
  /* background-image: url(src/assets/images/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: #f05be6;
}

/* .toggleNavButton {
  border: solid red 1px;
  height: 30px;
  width: auto;
} */

/* mat-tab {
  background-color: green;
} */

mat-drawer-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.example-sidenav {
  width: 140px;
}
.example-sidenav div {
  margin: 10px;
}
.example-sidenav div:hover {
  cursor: pointer;
}

.trivia-container {
  background-color: #B0D8FF;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding-top: 20px;
  margin:20px 10px 20px 10px;
}

.trivia {
  text-align: center;
  font-family: "Playfair Display", serif;
  color: white;
  font-weight: 300;
  margin-bottom: 0px;
  background-color: transparent;
}

.collapsible {
  background-color: transparent;
  /* background-color: rgba(255, 255, 255, 0.5); */
  color: white;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  margin-bottom: 20px;
}
.collapsible:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
}

.history {
  display: none;
  width: 100vhx;
  text-align: center;
  margin: 5px 10px;
  padding: 0px 40px 30px 40px;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

mat-tab-group {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: white;
}

.randomtext {
  color: black;
}

.randomWomenGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  row-gap: 10px;
}
.randomWoman {
  padding-left: 20px;
}
.randomButtonDiv {
  display: flex;
  justify-content: center;
}

.searchHandle {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 padding-top: 20px;
}

.searchInput, .newHandleInput {
  height: 35px;
  width: 80%;
  padding-left: 5px;
  margin: 10px;
  border-radius: 5px;
  border: solid 2px #B0D8FF;
  outline: none;
}

.searchClearButtons {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.submit {
  margin-right: 5px;
}

.submit{
  width: auto;
  padding: 4px 10px;
  background-color: #a32e9b;
  color: white ;
  border: none;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
}

.clear {
  width: auto;
  padding: 4px 10px;
  background-color:#a32e9b;
  color: white;
  border: none;
  /* border: 2px solid #a32e9b; */
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
}

.tweetsHeader {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.profileImage {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: solid #27796f 2px;
}
.names {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  color: black;
}
.name {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
}
.userHandle {
  color: #EEC575;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  
}

.individualTweet {
  border-bottom: solid 2px black;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.tweetDate {
  margin-bottom: 5px;
  font-style: italic;
}

.byTagTitle {
  margin: 10px 0;
}

.tagTitle {
  margin: 10px 0;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
.searchTagsList {
  margin-bottom: 10px;
}

mat-chip:hover {
  cursor: pointer;
}
mat-chip-list.newUser {
  margin: 10px;
}

.tag-box {
  background-color: white;
  box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
  color: #a32e9b;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}


.newUserTag {
  background-color: white;
  box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
  color: #a32e9b;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.newUserTitle {
  margin-top: 10px;
}

.newHandleInput {
  margin: 10px 10px 20px 0;
}

.post-container {
  margin: 20px 20px 0 0; 
  /* border: 5px solid #333; */
  overflow: auto
}
.post-thumb {
  float: left
}
.post-thumb img {
  display: block

}
.post-content {
  margin-left: 210px
}
.post-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1em;
}

.twitter-percent {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
}

.fact-container {
  margin: 20px 0x 30px 0px;
}

.column-left{text-align: center; width: 100%; }
.column-right{text-align: center; width: 100%; }
.column-center{text-align: center; width: 100%; }


@media only screen and (min-width: 768px) {
  .toggleNavButton {
    display: none;
  }
  .wrapper {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  .searchInput {
    width: 50%;
  }

  .column-left{ float: left; width: 33%; }
  .column-right{ float: right; width: 33%; }
  .column-center{ display: inline-block; width: 33%; }

}

@media only screen and (min-width: 1440px) {
  .mat-tab-group {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    padding:20px;
    margin: 20px;
    width: 100%;
  }

  h3 {
    color:#a32e9b;
  }

  h1 {
    margin-top: 0%;
    color:#a32e9b;
    text-shadow: 0px 2px 3px #555;
  }

  .column-left{ float: left; width: 33%; }
  .column-right{ float: right; width: 33%; }
  .column-center{ display: inline-block; width: 33%; }

}

