.wrapper {
  height: 85vh;

}

h1 {
  text-align: center;
}


fieldset {
  border: 2px solid #661B9E;
  border-radius:8px;
  margin: 10px;
}

mat-drawer-container {
  height: 100%;
  width: 100%;
  margin: 0;
  background-image: url(src/assets/images/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.toggleNavButton {
  border: solid red 1px;
  height: 30px;
  width: auto;
}

mat-drawer-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.example-sidenav {
  width: 140px;
}
.example-sidenav div {
  margin: 10px;
}
.example-sidenav div:hover {
  cursor: pointer;
}

.collapsible {
  background-color: rgba(255, 255, 255, 0.5);
  color: #444;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
}
.collapsible:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
}

.history {
  display: none;
  text-align: center;
  margin: 5px 10px;
}

mat-tab-group {
  width: 100vw;
}

.searchHandle {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 padding-top: 20px;
}

.searchInput, .newHandleInput {
  height: 35px;
  width: 80%;
  padding-left: 5px;
  margin: 10px;
  border-radius: 5px;
  border: solid 2px purple;
  outline: none;
}

.searchClearButtons {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.submit {
  margin-right: 5px;
}

.submit{
  width: auto;
  padding: 4px 10px;
  background-color: #f05be6;
  color: white;
  border: none;
  border-radius: 8%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.clear {
  width: auto;
  padding: 4px 10px;
  background-color:transparent;
  color: #f05be6;
  border: 2px solid #f05be6;
  border-radius: 8%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}


.tweetsHeader {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.profileImage {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: solid gray 2px;
}
.names {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}
.name {
  font-weight: bold;
  font-size: 16px;
}
.userHandle {
  color: gray;
  font-size: 16px;
}

.individualTweet {
  border-bottom: solid 2px gray;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.tweetDate {
  margin-bottom: 5px;
  font-style: italic;
}

mat-chip:hover {
  cursor: pointer;
}
mat-chip-list.newUser {
  margin: 10px;
}

.newUserTitle {
  margin-top: 10px;
}

.newHandleInput {
  margin: 10px 10px 20px 0;
}


@media only screen and (min-width: 768px) {
  .toggleNavButton {
    display: none;
  }
  .wrapper {
    width: 85vw;
  }

  .searchInput {
    width: 50%;
  }

  mat-tab-group {
    width: 85vw;
  }
}

@media only screen and (min-width: 1440px) {
  
}

