.wrapper {
  padding: 20px;
}

fieldset {
  border: 2px solid purple;
  border-radius:8px;
  margin: 10px;
}

/* 

input {
  margin: 1em;
}

.hashtag {
  padding-left: 1em;
}

body {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e570e7+0,bf7ca3+68,a849a3+100 */
  /* background: #e570e7; 
  background: -moz-linear-gradient(
    45deg,
    #e570e7 0%,
    #bf7ca3 68%,
    #a849a3 100%
   );
  background: -webkit-linear-gradient(
    45deg,
    #e570e7 0%,
    #bf7ca3 68%,
    #a849a3 100%
  );
  background: linear-gradient(
    45deg,
    #e570e7 0%,
    #bf7ca3 68%,
    #a849a3 100%
  ); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e570e7', endColorstr='#a849a3',GradientType=1 ); 
  background-repeat: no-repeat;
  background-attachment: fixed;
} */

/* aside {
  color: #fff;
  display: grid;
  grid-template-columns: auto 40px;
  padding: 2em;
}

img {
  width: 30px;
  cursor: pointer;
}

figure {
  margin: 0;
}

figcaption {
  font-size: 2.3em;
  font-weight: bold;
}

nav {
  background: white;
}

.navigation {
  position: absolute;
  display: block;
  background-color: #fff;
  width: 50%;
  left: 0;
  top: 0;
  height: 100%;
}

ul {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em;
  display: block;
  padding: 2em;
  background-color: rgba(255, 255, 255, 0.35);
  color: black;
}  */

/* Style the button that is used to open and close the collapsible content */
/* .collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
} */

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
/* .active, .collapsible:hover {
  background-color: #ccc;
} */

/* Style the collapsible content. Note: hidden by default */
/* .content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

main {
  background: white;
  padding: 1em 1.4em;
}

h1 {
  font-size: 1em;
  margin: 0;
  padding-top: 2.5em;

}

.trivia {
  font-size: 1em;
  margin: 0;
  padding-top: 4.5em;
  padding-bottom: 1em;
}

p {
  font-size: 1em;
  line-height: 1em;
  padding-top: 2.5;
}

legend {
  font-weight: bold;
}

button {
  padding: 1px 3px;
  
} */

/* search {
  display: block;
  color: white;
  background-color: purple;
  text-decoration: none;
  padding: 8px 50px;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin: 2 em 0;
  border-radius: 4px; */
/* } */
/* .who {
  display:none;
} */

/* @media only screen and (min-width: 768px) {
  body {
    display: grid;
    grid-template-columns: 20% auto;
    padding: 2em;
  }

  span {
    font-size: 40px;
    position: relative;
    display: inline-block;
    font-weight: bolder;
    animation: mover 6s linear infinite;
    color: #fff;
  } */
  
  /*
  }

  img {
    display: none;
  } */

  /* aside {
    background: rgb(235, 183, 235);
    grid-template-columns: auto;
    grid-template-rows: 20% auto;
    padding: 0;
  } */

  /* main {
    padding: 4em;
    background: white url("../images/bg-svg") no-repeat bottom right;
  } */

  /* figcaption {
    text-align: center;
    color: black;
  }
  ul {
    display: block;
    margin-top: 2em;
    position: relative !important;
    background: none !important;
    width: 100% !important;
  }
  nav {
    background: none;
  }
  ul li a:hover {
    background-color: white;
  }
  h1 {
    font-size: 2em;
    margin-top: 2em;
  }
  
  h1 {
    font-size: 1em;
    margin: 0;
    padding-top: 3em;
  }
  
  p {
    font-size: 1em;
    line-height: 1.5em;
    padding-top: 3.4em;
  }

  .twitter {
    padding: 2em;
    margin: .5em 0;
  }
  
  .hashtag {
    padding-left: 3.2em;
  }
  
} */
