
<div class="wrapper">
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="over">
    <div routerLink="/dashboard">Dashboard</div>
    <div routerLink="/about">About</div>
  </mat-drawer>
    <button class="toggleNavButton" type="button" mat-button (click)="drawer.toggle()">Open Nav</button>
  <h1 class="trivia">Women's History Trivvia</h1>

  <button type="button" class="collapsible" (click)="showHistory()">
    What is the origin of Women's History Month?
  </button>

  <div class="content">
    <p class="history">
      Women's History Month had its origins as a national celebration in 1981
      when Congress passed Pub. L. 97-28 which authorized and requested the
      President to proclaim the week beginning March 7, 1982 as “Women's History
      Week.”
    </p>
  </div>
  <h1>Search Influential Women on Twitter</h1>
  <fieldset>
    <form>
      <fieldset>
        <legend>Twitter Handle</legend>
        <label>
          Enter Twitter Handle of an Influential Woman:
          <input type="text" placeholder="@twitter handle" class="searchInput"
        /></label>
        <button type="button" value="Submit" (click)="searchUser()">Submit</button>
        <button type="button" value="Clear">Clear</button>
      </fieldset>

      <fieldset class="results" *ngIf= "searchItems.length > 0">
        <div>
          Name:
          <span class="name"></span><br>
          Username: 
          <span class="username"></span>
        </div>
        <button type="button" value="Return to Dashboard">
          Return to Dashboard
        </button>
      </fieldset>

      <fieldset>
        <legend>Industry</legend>
        <label><input type="checkbox" />Business</label>
        <label><input type="checkbox" />Science</label>
        <label><input type="checkbox" />Technology</label>
      </fieldset>

      <fieldset>
        <legend>Lifestyle</legend>
        <label><input type="checkbox" />Beauty</label>
        <label><input type="checkbox" />Food</label>
        <label><input type="checkbox" />Health</label>
        <label><input type="checkbox" />Politics</label>
        <label><input type="checkbox" />Spiritual</label>
      </fieldset>

      <fieldset>
        <legend>Art</legend>
        <label><input type="checkbox" /> Humor</label>
      </fieldset>

      <button type="button" value="Submit">Submit</button>
      <button type="button" value="Clear">Clear</button>

      <fieldset class="results">
        <div>
          Display - Handles(handle will take you to twitter for recent tweets
          and to follow)Or Message"No matching handles, want to add some?"-Send
          to Add Twitter Handle Page
        </div>
        <button type="button" value="Return to Dashboard">
          Return to Dashboard
        </button>
      </fieldset>

      <fieldset>
        <legend>Add Twitter Handle of an Influential Woman:</legend>
        <label
          >Enter a new Twitter Handle:
          <input type="text" placeholder="@Twitter Handle"
        /></label>

        <div>
          <label>Select Tag(s) that relate to the added Twitter Handle:</label>
        </div>

        <div>
          <label><input type="checkbox" />Technology</label>
          <label><input type="checkbox" />Business</label>
          <label><input type="checkbox" />Science</label>
          <label><input type="checkbox" />Politics</label>
          <label><input type="checkbox" />Spiritual</label>
          <label><input type="checkbox" />Beauty</label>
          <label><input type="checkbox" />Health</label>
          <label><input type="checkbox" />Food</label>
          <label><input type="checkbox" /> Humor</label>
        </div>
        <button type="button" value="Submit">Submit</button>
        <button type="button" value="Clear">Clear</button>
      </fieldset>
      <fieldset>
        <div class="results">Disply -Handles, Tags, Recent Tweets</div>
        <button type="button" value="Return to Dashboard">
          Return to Dashboard
        </button>
      </fieldset>
    </form>
  </fieldset>
</mat-drawer-container>
</div>