<div class="wrapper">
    <div class="titleBox">
        <div id="womenshistory"></div>
        <figcaption>VoceFemme</figcaption>
    </div>
    <nav>
        <div class="links">
                <div routerLink="/dashboard" (click)="updateHeaderDash()">Dashboard</div>
                <div routerLink="/about" (click)="updateHeaderAbout()">About</div>
                <div>Results</div>
        </div>
            <!-- <div class="twitter">
                <a class="twitter-timeline" data-width="220" data-height="250"
                    href="https://twitter.com/womenshistory?ref_src=twsrc%5Etfw">Tweets by womenshistory</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>

            <div class="hashtag">
                <a href="https://twitter.com/intent/tweet?button_hashtag=womenshistorymonth&ref_src=twsrc%5Etfw"
                    class="twitter-hashtag-button" data-show-count="false">Tweet #womenshistorymonth</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div> -->
    </nav>
</div>
