  .wrapper {
   background-color: rgb(235, 183, 235);
   height: 100%;
   display: flex;
   flex-direction: column;
  }

  .titleBox {
      height: 20%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  nav {
      height: 300px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }

  .links {
    display: flex;
    height: 170px;
    width: 100%;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .links div {
      height: 33%;
      width: 100%;
      text-decoration: none;
      background-color: lightgray;
      padding: 20px;
      outline: none;
      
  }

  .links div:hover {
      background-color: white;
      cursor: pointer;
  }

  @media only screen and (min-width: 768px) {
    figcaption {
        text-align: center;
        font-weight: bold;
        font-size: 18px;
    }
}

@media only screen and (min-width: 1440px) {
  
    figcaption {
        text-align: center;
        font-weight: bold;
        font-size: 25px;
    }
}